In [57]:
import pandas as pd

In [58]:
df=pd.read_csv('../datasets_merged/df_mergedPart1.csv')

In [59]:
df=df.rename(columns={'Pays':'country'})
df.loc[df['country']=='Republic of the Congo','Annee_souverainete']=1884.0
df.loc[(df['country']=='Congo') & (df['Annee_souverainete']==1960.0),'country']='DR Congo'
df

,country,Notes_musees,NbVotes_musees_clean,Nb_prixNobel,Annee_souverainete,Nb_univTop500,Rang,Political regime,immigrationByCountry_immigrants,immigrationByCountry_emigrants,Primary,Lower secondary,Break 1,Break 2,Break 3,Break 4,Break 5,End of the school year break
0,Afghanistan,[4.5],[574.0],0.0,1919.0,0.0,NaN,1.0,144098.0,5853838.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,"['4,1', '4,4', '4,6', '4,6', '4,4', '4,7', '4,...","[1000.0, 1000.0, 471.0, 1000.0, 3000.0, 259.0,...",0.0,1912.0,0.0,NaN,1.0,48810.0,1250451.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Algeria,"['4,4', '4,6', '4,4', '4,3', '4,7', '4,6', '4,...","[250.0, 545.0, 790.0, 199.0, 170.0, 348.0, 240...",2.0,1962.0,0.0,NaN,1.0,250378.0,2022337.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Andorra,"['4,5', '4,5', '4,6', '4,4', '4,5', '4,7', '4,...","[383.0, 563.0, 153.0, 421.0, 193.0, 56.0, 128....",0.0,NaN,0.0,NaN,NaN,45574.0,11132.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,"['4,8', '4,2', '4,1', '3,9', '4,3', '4,5', '4,...","[4.0, 421.0, 191.0, 116.0, 423.0, 11.0, 261.0,...",0.0,1975.0,0.0,NaN,1.0,656434.0,668066.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,Venezuela,"['4,2', '4,5', '4,4', '4,3', '4,7', '4,2', '4,...","[620.0, 266.0, 243.0, 805.0, 13.0, 314.0, 699....",1.0,1811.0,0.0,NaN,1.0,1324193.0,5415337.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,Vietnam,[],[],1.0,1945.0,0.0,NaN,0.0,76767.0,3392025.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,Yemen,"['4.4', '4.4', '4.2', '5.0', '5.0', '4.8', '4....","[244.0, 222.0, 147.0, 2.0, 6.0, 5.0, 7.0, 4.0,...",1.0,1990.0,0.0,NaN,0.0,387113.0,1301166.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,Zambia,"['4.3', '4.2', '3.7', '4.3', '3.8', '3.9', '3....","[371.0, 1000.0, 230.0, 94.0, 155.0, 442.0, 12....",0.0,1964.0,0.0,NaN,1.0,187955.0,200700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,Zimbabwe,"['3.8', '4.1', '4.3', '3.8', '4.1', '4.0', '4....","[483.0, 38.0, 391.0, 319.0, 311.0, 786.0, 56.0...",0.0,1965.0,0.0,NaN,1.0,416141.0,1243314.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
df[(df['country']=='Congo') & (df['Annee_souverainete']==1884.0)]
df=df.drop([42])

In [61]:
df_part2=pd.read_csv('../datasets_merged/df_mergedPart2.csv')

In [62]:
df_part2

,country,Literacy rate 2021,Global rank,continent,Superficie,nb_diplomes,nb_habitants,education_spending_2021,GDP
0,India,NaN,NaN,asia,3287263.0,NaN,1.417173e+09,4.64,3.150307e+12
1,China,NaN,NaN,asia,9596960.0,NaN,1.412175e+09,3.30,1.782046e+13
2,United States,NaN,NaN,north-america,9369417.0,2715337.0,3.332876e+08,NaN,2.331508e+13
3,Indonesia,NaN,NaN,asia,1904569.0,NaN,2.755013e+08,3.05,1.186505e+12
4,Pakistan,NaN,NaN,asia,882363.0,NaN,2.358249e+08,1.69,3.485166e+11
...,...,...,...,...,...,...,...,...,...
192,Turks and Caicos Islands,NaN,NaN,NaN,948.0,NaN,4.570300e+04,NaN,1.044779e+09
193,Marshall Islands,NaN,NaN,oceania,181.0,NaN,4.156900e+04,NaN,2.577849e+08
194,Liechtenstein,NaN,NaN,europe,160.0,NaN,3.932700e+04,NaN,7.710380e+09
195,British Virgin Islands,NaN,NaN,NaN,151.0,NaN,3.130500e+04,NaN,NaN
196,Cook Islands,NaN,NaN,NaN,236.0,NaN,NaN,NaN,NaN

In [63]:
df_merge=pd.merge(df,df_part2,on='country',how='outer')
df_merge

,country,Notes_musees,NbVotes_musees_clean,Nb_prixNobel,Annee_souverainete,Nb_univTop500,Rang,Political regime,immigrationByCountry_immigrants,immigrationByCountry_emigrants,...,Break 5,End of the school year break,Literacy rate 2021,Global rank,continent,Superficie,nb_diplomes,nb_habitants,education_spending_2021,GDP
0,Afghanistan,[4.5],[574.0],0.0,1919.0,0.0,NaN,1.0,144098.0,5853838.0,...,NaN,NaN,37.27,39.0,asia,652864.0,NaN,41128771.0,NaN,1.426650e+10
1,Albania,"['4,1', '4,4', '4,6', '4,6', '4,4', '4,7', '4,...","[1000.0, 1000.0, 471.0, 1000.0, 3000.0, 259.0,...",0.0,1912.0,0.0,NaN,1.0,48810.0,1250451.0,...,NaN,NaN,NaN,NaN,europe,28748.0,NaN,2777689.0,3.09,1.793057e+10
2,Algeria,"['4,4', '4,6', '4,4', '4,3', '4,7', '4,6', '4,...","[250.0, 545.0, 790.0, 199.0, 170.0, 348.0, 240...",2.0,1962.0,0.0,NaN,1.0,250378.0,2022337.0,...,NaN,NaN,NaN,NaN,africa,2381741.0,NaN,44903225.0,6.30,1.634724e+11
3,Andorra,"['4,5', '4,5', '4,6', '4,4', '4,5', '4,7', '4,...","[383.0, 563.0, 153.0, 421.0, 193.0, 56.0, 128....",0.0,NaN,0.0,NaN,NaN,45574.0,11132.0,...,NaN,NaN,NaN,NaN,europe,468.0,NaN,79824.0,2.58,3.325144e+09
4,Angola,"['4,8', '4,2', '4,1', '3,9', '4,3', '4,5', '4,...","[4.0, 421.0, 191.0, 116.0, 423.0, 11.0, 261.0,...",0.0,1975.0,0.0,NaN,1.0,656434.0,668066.0,...,NaN,NaN,NaN,NaN,africa,1246700.0,NaN,35588987.0,2.30,6.650513e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Venezuela,"['4,2', '4,5', '4,4', '4,3', '4,7', '4,2', '4,...","[620.0, 266.0, 243.0, 805.0, 13.0, 314.0, 699....",1.0,1811.0,0.0,NaN,1.0,1324193.0,5415337.0,...,NaN,NaN,NaN,NaN,south-america,912050.0,NaN,28301696.0,NaN,4.823593e+11
193,Vietnam,[],[],1.0,1945.0,0.0,NaN,0.0,76767.0,3392025.0,...,NaN,NaN,NaN,NaN,asia,331340.0,NaN,98186856.0,2.95,3.661376e+11
194,Yemen,"['4.4', '4.4', '4.2', '5.0', '5.0', '4.8', '4....","[244.0, 222.0, 147.0, 2.0, 6.0, 5.0, 7.0, 4.0,...",1.0,1990.0,0.0,NaN,0.0,387113.0,1301166.0,...,NaN,NaN,NaN,NaN,asia,527968.0,NaN,33696614.0,NaN,2.160616e+10
195,Zambia,"['4.3', '4.2', '3.7', '4.3', '3.8', '3.9', '3....","[371.0, 1000.0, 230.0, 94.0, 155.0, 442.0, 12....",0.0,1964.0,0.0,NaN,1.0,187955.0,200700.0,...,NaN,NaN,NaN,NaN,africa,752612.0,NaN,20017675.0,3.11,2.209642e+10
196,Zimbabwe,"['3.8', '4.1', '4.3', '3.8', '4.1', '4.0', '4....","[483.0, 38.0, 391.0, 319.0, 311.0, 786.0, 56.0...",0.0,1965.0,0.0,NaN,1.0,416141.0,1243314.0,...,NaN,NaN,NaN,NaN,africa,390757.0,NaN,16320537.0,NaN,2.837124e+10

In [65]:
df_iq=pd.read_csv("../data/IQ_pays.csv")
df_iq

,country,averageIqByCountry_iqLynnBecker2019,averageIqByCountry_sourceLynnBecker2019,AverageIQ_ICI2017Grade,AverageIQ_ICI2017Score,AverageIQPISA2022MeanScoreMathematics,AverageIQPISA2022MeanScoreReading,AverageIQPISA2022MeanScoreScience
0,India,76.24,T,C-,29.4,406.0,405.0,403.0
1,China,104.10,T,B,47.3,390.0,374.0,384.0
2,United States,97.43,T,A+,74.9,NaN,NaN,NaN
3,Indonesia,78.49,T,D+,23.7,365.0,339.0,365.0
4,Pakistan,80.00,T,D,19.6,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
192,Turks and Caicos Islands,84.29,E,NaN,NaN,NaN,NaN,NaN
193,Marshall Islands,83.96,T,NaN,NaN,NaN,NaN,NaN
194,Liechtenstein,101.07,E,NaN,NaN,NaN,NaN,NaN
195,British Virgin Islands,76.69,E,NaN,NaN,385.0,415.0,411.0
196,Cook Islands,83.96,E,NaN,NaN,430.0,438.0,441.0

In [66]:
df_merged_final=pd.merge(df_merge,df_iq,on='country',how='outer')
df_merged_final

,country,Notes_musees,NbVotes_musees_clean,Nb_prixNobel,Annee_souverainete,Nb_univTop500,Rang,Political regime,immigrationByCountry_immigrants,immigrationByCountry_emigrants,...,nb_habitants,education_spending_2021,GDP,averageIqByCountry_iqLynnBecker2019,averageIqByCountry_sourceLynnBecker2019,AverageIQ_ICI2017Grade,AverageIQ_ICI2017Score,AverageIQPISA2022MeanScoreMathematics,AverageIQPISA2022MeanScoreReading,AverageIQPISA2022MeanScoreScience
0,Afghanistan,[4.5],[574.0],0.0,1919.0,0.0,NaN,1.0,144098.0,5853838.0,...,41128771.0,NaN,1.426650e+10,82.12,E,NaN,NaN,368.0,358.0,376.0
1,Albania,"['4,1', '4,4', '4,6', '4,6', '4,4', '4,7', '4,...","[1000.0, 1000.0, 471.0, 1000.0, 3000.0, 259.0,...",0.0,1912.0,0.0,NaN,1.0,48810.0,1250451.0,...,2777689.0,3.09,1.793057e+10,81.75,E,D+,23.4,NaN,NaN,NaN
2,Algeria,"['4,4', '4,6', '4,4', '4,3', '4,7', '4,6', '4,...","[250.0, 545.0, 790.0, 199.0, 170.0, 348.0, 240...",2.0,1962.0,0.0,NaN,1.0,250378.0,2022337.0,...,44903225.0,6.30,1.634724e+11,76.00,E,D,19.1,378.0,401.0,406.0
3,Andorra,"['4,5', '4,5', '4,6', '4,4', '4,5', '4,7', '4,...","[383.0, 563.0, 153.0, 421.0, 193.0, 56.0, 128....",0.0,NaN,0.0,NaN,NaN,45574.0,11132.0,...,79824.0,2.58,3.325144e+09,95.20,E,NaN,NaN,NaN,NaN,NaN
4,Angola,"['4,8', '4,2', '4,1', '3,9', '4,3', '4,5', '4,...","[4.0, 421.0, 191.0, 116.0, 423.0, 11.0, 261.0,...",0.0,1975.0,0.0,NaN,1.0,656434.0,668066.0,...,35588987.0,2.30,6.650513e+10,75.10,T,NaN,NaN,487.0,498.0,507.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Venezuela,"['4,2', '4,5', '4,4', '4,3', '4,7', '4,2', '4,...","[620.0, 266.0, 243.0, 805.0, 13.0, 314.0, 699....",1.0,1811.0,0.0,NaN,1.0,1324193.0,5415337.0,...,28301696.0,NaN,4.823593e+11,82.99,T,C-,26.8,NaN,NaN,NaN
193,Vietnam,[],[],1.0,1945.0,0.0,NaN,0.0,76767.0,3392025.0,...,98186856.0,2.95,3.661376e+11,89.53,T,C-,25.1,NaN,NaN,NaN
194,Yemen,"['4.4', '4.4', '4.2', '5.0', '5.0', '4.8', '4....","[244.0, 222.0, 147.0, 2.0, 6.0, 5.0, 7.0, 4.0,...",1.0,1990.0,0.0,NaN,0.0,387113.0,1301166.0,...,33696614.0,NaN,2.160616e+10,62.86,T,NaN,NaN,NaN,NaN,NaN
195,Zambia,"['4.3', '4.2', '3.7', '4.3', '3.8', '3.9', '3....","[371.0, 1000.0, 230.0, 94.0, 155.0, 442.0, 12....",0.0,1964.0,0.0,NaN,1.0,187955.0,200700.0,...,20017675.0,3.11,2.209642e+10,68.43,E,D,18.9,NaN,NaN,NaN
196,Zimbabwe,"['3.8', '4.1', '4.3', '3.8', '4.1', '4.0', '4....","[483.0, 38.0, 391.0, 319.0, 311.0, 786.0, 56.0...",0.0,1965.0,0.0,NaN,1.0,416141.0,1243314.0,...,16320537.0,NaN,2.837124e+10,74.01,T,D-,11.7,NaN,NaN,NaN

In [70]:
df_merged_final[df_merged_final['nb_habitants'].notnull()]

,country,Notes_musees,NbVotes_musees_clean,Nb_prixNobel,Annee_souverainete,Nb_univTop500,Rang,Political regime,immigrationByCountry_immigrants,immigrationByCountry_emigrants,...,nb_habitants,education_spending_2021,GDP,averageIqByCountry_iqLynnBecker2019,averageIqByCountry_sourceLynnBecker2019,AverageIQ_ICI2017Grade,AverageIQ_ICI2017Score,AverageIQPISA2022MeanScoreMathematics,AverageIQPISA2022MeanScoreReading,AverageIQPISA2022MeanScoreScience
0,Afghanistan,[4.5],[574.0],0.0,1919.0,0.0,NaN,1.0,144098.0,5853838.0,...,41128771.0,NaN,1.426650e+10,82.12,E,NaN,NaN,368.0,358.0,376.0
1,Albania,"['4,1', '4,4', '4,6', '4,6', '4,4', '4,7', '4,...","[1000.0, 1000.0, 471.0, 1000.0, 3000.0, 259.0,...",0.0,1912.0,0.0,NaN,1.0,48810.0,1250451.0,...,2777689.0,3.09,1.793057e+10,81.75,E,D+,23.4,NaN,NaN,NaN
2,Algeria,"['4,4', '4,6', '4,4', '4,3', '4,7', '4,6', '4,...","[250.0, 545.0, 790.0, 199.0, 170.0, 348.0, 240...",2.0,1962.0,0.0,NaN,1.0,250378.0,2022337.0,...,44903225.0,6.30,1.634724e+11,76.00,E,D,19.1,378.0,401.0,406.0
3,Andorra,"['4,5', '4,5', '4,6', '4,4', '4,5', '4,7', '4,...","[383.0, 563.0, 153.0, 421.0, 193.0, 56.0, 128....",0.0,NaN,0.0,NaN,NaN,45574.0,11132.0,...,79824.0,2.58,3.325144e+09,95.20,E,NaN,NaN,NaN,NaN,NaN
4,Angola,"['4,8', '4,2', '4,1', '3,9', '4,3', '4,5', '4,...","[4.0, 421.0, 191.0, 116.0, 423.0, 11.0, 261.0,...",0.0,1975.0,0.0,NaN,1.0,656434.0,668066.0,...,35588987.0,2.30,6.650513e+10,75.10,T,NaN,NaN,487.0,498.0,507.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Venezuela,"['4,2', '4,5', '4,4', '4,3', '4,7', '4,2', '4,...","[620.0, 266.0, 243.0, 805.0, 13.0, 314.0, 699....",1.0,1811.0,0.0,NaN,1.0,1324193.0,5415337.0,...,28301696.0,NaN,4.823593e+11,82.99,T,C-,26.8,NaN,NaN,NaN
193,Vietnam,[],[],1.0,1945.0,0.0,NaN,0.0,76767.0,3392025.0,...,98186856.0,2.95,3.661376e+11,89.53,T,C-,25.1,NaN,NaN,NaN
194,Yemen,"['4.4', '4.4', '4.2', '5.0', '5.0', '4.8', '4....","[244.0, 222.0, 147.0, 2.0, 6.0, 5.0, 7.0, 4.0,...",1.0,1990.0,0.0,NaN,0.0,387113.0,1301166.0,...,33696614.0,NaN,2.160616e+10,62.86,T,NaN,NaN,NaN,NaN,NaN
195,Zambia,"['4.3', '4.2', '3.7', '4.3', '3.8', '3.9', '3....","[371.0, 1000.0, 230.0, 94.0, 155.0, 442.0, 12....",0.0,1964.0,0.0,NaN,1.0,187955.0,200700.0,...,20017675.0,3.11,2.209642e+10,68.43,E,D,18.9,NaN,NaN,NaN
196,Zimbabwe,"['3.8', '4.1', '4.3', '3.8', '4.1', '4.0', '4....","[483.0, 38.0, 391.0, 319.0, 311.0, 786.0, 56.0...",0.0,1965.0,0.0,NaN,1.0,416141.0,1243314.0,...,16320537.0,NaN,2.837124e+10,74.01,T,D-,11.7,NaN,NaN,NaN

In [71]:
df_merged_final['GDP_perCapita']=df_merged_final['GDP']/df_merged_final['nb_habitants']

In [72]:
df_merged_final['GDP_perCapita']

0        346.873954
1       6455.209751
2       3640.548936
3      41655.939232
4       1868.699719
           ...
192    17043.477492
193     3728.987606
194      641.196791
195     1103.845323
196     1738.376542
Name: GDP_perCapita, Length: 197, dtype: float64

In [73]:
df_merged_final['Indice_evolution']=df_merged_final['GDP_perCapita']/(2024-df_merged_final['Annee_souverainete'])

In [77]:
df_merged_final[df_merged_final['country']=='Singapore']['Indice_evolution'] #Indice elevÃ© pour le Singapour

159    1156.631177
Name: Indice_evolution, dtype: float64

In [88]:
df_merged_final.iloc[df_merged_final['Indice_evolution'].argmax()] #le pays ayant l'indice le plus Ã©levÃ© est le Quatar

country                                                                                Qatar
Notes_musees                               [4.7, 4.7, 4.3, 4.6, 4.8, 4.6, 4.4, 4.6, 4.5, ...
NbVotes_musees_clean                       [15000.0, 13000.0, 698.0, 200.0, 1000.0, 1000....
Nb_prixNobel                                                                             0.0
Annee_souverainete                                                                    1971.0
Nb_univTop500                                                                            2.0
Rang                                                                                   242.0
Political regime                                                                         0.0
immigrationByCountry_immigrants                                                    2226192.0
immigrationByCountry_emigrants                                                       25705.0
Primary                                                                                  NaN
Lower secondary                                                                          NaN
Break 1                                                                                  NaN
Break 2                                                                                  NaN
Break 3                                                                                  NaN
Break 4                                                                                  NaN
Break 5                                                                                  NaN
End of the school year break                                                             NaN
Literacy rate 2021                                                                       NaN
Global rank                                                                              NaN
continent                                                                               asia
Superficie                                                                           11586.0
nb_diplomes                                                                              NaN
nb_habitants                                                                       2695122.0
education_spending_2021                                                                  NaN
GDP                                                                      179732009554.846008
averageIqByCountry_iqLynnBecker2019                                                    80.78
averageIqByCountry_sourceLynnBecker2019                                                    T
AverageIQ_ICI2017Grade                                                                     C
AverageIQ_ICI2017Score                                                                  31.3
AverageIQPISA2022MeanScoreMathematics                                                    NaN
AverageIQPISA2022MeanScoreReading                                                        NaN
AverageIQPISA2022MeanScoreScience                                                        NaN
GDP_perCapita                                                                   66687.893741
Indice_evolution                                                                 1258.262146
Name: 144, dtype: object

In [89]:
df_merged_final.columns

Index(['country', 'Notes_musees', 'NbVotes_musees_clean', 'Nb_prixNobel',
       'Annee_souverainete', 'Nb_univTop500', 'Rang', 'Political regime',
       'immigrationByCountry_immigrants', 'immigrationByCountry_emigrants',
       'Primary', 'Lower secondary', 'Break 1', 'Break 2', 'Break 3',
       'Break 4', 'Break 5', 'End of the school year break',
       'Literacy rate 2021', 'Global rank', 'continent', 'Superficie',
       'nb_diplomes', 'nb_habitants', 'education_spending_2021', 'GDP',
       'averageIqByCountry_iqLynnBecker2019',
       'averageIqByCountry_sourceLynnBecker2019', 'AverageIQ_ICI2017Grade',
       'AverageIQ_ICI2017Score', 'AverageIQPISA2022MeanScoreMathematics',
       'AverageIQPISA2022MeanScoreReading',
       'AverageIQPISA2022MeanScoreScience', 'GDP_perCapita',
       'Indice_evolution'],
      dtype='object')

In [94]:
modif={}
for column in df_merged_final.columns:
    modif[column] = column.title().replace(" ","_").replace("-","_")

modif['Superficie']="Area"
modif['nb_diplomes']="Nb_graduates"
modif['nb_habitants']="Population"
modif['Rang']="Mean_Rank_Univ"
modif['Global rank']="Global_rank_Literacy_rate"

modif

{'country': 'Country',
 'Notes_musees': 'Notes_Musees',
 'NbVotes_musees_clean': 'Nbvotes_Musees_Clean',
 'Nb_prixNobel': 'Nb_Prixnobel',
 'Annee_souverainete': 'Annee_Souverainete',
 'Nb_univTop500': 'Nb_Univtop500',
 'Rang': 'Mean_Rank_Univ',
 'Political regime': 'Political_Regime',
 'immigrationByCountry_immigrants': 'Immigrationbycountry_Immigrants',
 'immigrationByCountry_emigrants': 'Immigrationbycountry_Emigrants',
 'Primary': 'Primary',
 'Lower secondary': 'Lower_Secondary',
 'Break 1': 'Break_1',
 'Break 2': 'Break_2',
 'Break 3': 'Break_3',
 'Break 4': 'Break_4',
 'Break 5': 'Break_5',
 'End of the school year break': 'End_Of_The_School_Year_Break',
 'Literacy rate 2021': 'Literacy_Rate_2021',
 'Global rank': 'Global_rank_Literacy_rate',
 'continent': 'Continent',
 'Superficie': 'Area',
 'nb_diplomes': 'Nb_graduates',
 'nb_habitants': 'Population',
 'education_spending_2021': 'Education_Spending_2021',
 'GDP': 'Gdp',
 'averageIqByCountry_iqLynnBecker2019': 'Averageiqbycountry_Iqlynnbecker2019',
 'averageIqByCountry_sourceLynnBecker2019': 'Averageiqbycountry_Sourcelynnbecker2019',
 'AverageIQ_ICI2017Grade': 'Averageiq_Ici2017Grade',
 'AverageIQ_ICI2017Score': 'Averageiq_Ici2017Score',
 'AverageIQPISA2022MeanScoreMathematics': 'Averageiqpisa2022Meanscoremathematics',
 'AverageIQPISA2022MeanScoreReading': 'Averageiqpisa2022Meanscorereading',
 'AverageIQPISA2022MeanScoreScience': 'Averageiqpisa2022Meanscorescience',
 'GDP_perCapita': 'Gdp_Percapita',
 'Indice_evolution': 'Indice_Evolution'}

In [95]:
df_merged_final.rename(columns = modif)

,Country,Notes_Musees,Nbvotes_Musees_Clean,Nb_Prixnobel,Annee_Souverainete,Nb_Univtop500,Mean_Rank_Univ,Political_Regime,Immigrationbycountry_Immigrants,Immigrationbycountry_Emigrants,...,Gdp,Averageiqbycountry_Iqlynnbecker2019,Averageiqbycountry_Sourcelynnbecker2019,Averageiq_Ici2017Grade,Averageiq_Ici2017Score,Averageiqpisa2022Meanscoremathematics,Averageiqpisa2022Meanscorereading,Averageiqpisa2022Meanscorescience,Gdp_Percapita,Indice_Evolution
0,Afghanistan,[4.5],[574.0],0.0,1919.0,0.0,NaN,1.0,144098.0,5853838.0,...,1.426650e+10,82.12,E,NaN,NaN,368.0,358.0,376.0,346.873954,3.303561
1,Albania,"['4,1', '4,4', '4,6', '4,6', '4,4', '4,7', '4,...","[1000.0, 1000.0, 471.0, 1000.0, 3000.0, 259.0,...",0.0,1912.0,0.0,NaN,1.0,48810.0,1250451.0,...,1.793057e+10,81.75,E,D+,23.4,NaN,NaN,NaN,6455.209751,57.635801
2,Algeria,"['4,4', '4,6', '4,4', '4,3', '4,7', '4,6', '4,...","[250.0, 545.0, 790.0, 199.0, 170.0, 348.0, 240...",2.0,1962.0,0.0,NaN,1.0,250378.0,2022337.0,...,1.634724e+11,76.00,E,D,19.1,378.0,401.0,406.0,3640.548936,58.718531
3,Andorra,"['4,5', '4,5', '4,6', '4,4', '4,5', '4,7', '4,...","[383.0, 563.0, 153.0, 421.0, 193.0, 56.0, 128....",0.0,NaN,0.0,NaN,NaN,45574.0,11132.0,...,3.325144e+09,95.20,E,NaN,NaN,NaN,NaN,NaN,41655.939232,NaN
4,Angola,"['4,8', '4,2', '4,1', '3,9', '4,3', '4,5', '4,...","[4.0, 421.0, 191.0, 116.0, 423.0, 11.0, 261.0,...",0.0,1975.0,0.0,NaN,1.0,656434.0,668066.0,...,6.650513e+10,75.10,T,NaN,NaN,487.0,498.0,507.0,1868.699719,38.136729
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Venezuela,"['4,2', '4,5', '4,4', '4,3', '4,7', '4,2', '4,...","[620.0, 266.0, 243.0, 805.0, 13.0, 314.0, 699....",1.0,1811.0,0.0,NaN,1.0,1324193.0,5415337.0,...,4.823593e+11,82.99,T,C-,26.8,NaN,NaN,NaN,17043.477492,80.016326
193,Vietnam,[],[],1.0,1945.0,0.0,NaN,0.0,76767.0,3392025.0,...,3.661376e+11,89.53,T,C-,25.1,NaN,NaN,NaN,3728.987606,47.202375
194,Yemen,"['4.4', '4.4', '4.2', '5.0', '5.0', '4.8', '4....","[244.0, 222.0, 147.0, 2.0, 6.0, 5.0, 7.0, 4.0,...",1.0,1990.0,0.0,NaN,0.0,387113.0,1301166.0,...,2.160616e+10,62.86,T,NaN,NaN,NaN,NaN,NaN,641.196791,18.858729
195,Zambia,"['4.3', '4.2', '3.7', '4.3', '3.8', '3.9', '3....","[371.0, 1000.0, 230.0, 94.0, 155.0, 442.0, 12....",0.0,1964.0,0.0,NaN,1.0,187955.0,200700.0,...,2.209642e+10,68.43,E,D,18.9,NaN,NaN,NaN,1103.845323,18.397422
196,Zimbabwe,"['3.8', '4.1', '4.3', '3.8', '4.1', '4.0', '4....","[483.0, 38.0, 391.0, 319.0, 311.0, 786.0, 56.0...",0.0,1965.0,0.0,NaN,1.0,416141.0,1243314.0,...,2.837124e+10,74.01,T,D-,11.7,NaN,NaN,NaN,1738.376542,29.464009

In [97]:
df_merged_final.to_csv("../datasets_merged/df_mergedFinal.csv",index=False)